* {
	padding: 0px;
	margin: 0px;
	font-family: Segoe UI, Calibri, Verdana, Tahoma;
	text-decoration: none;
}

html {
    scroll-behavior: smooth;
   
}

body {
	background-image: url("media/elder.gif");
	position: relative;
	min-height: 100vh;
	
}

/*CABECERA*/

.cabecera {
   	width: 100%;
	background-color: rgba(0, 0, 0, 0.84);	
	color: #fff;
	box-shadow: 0 10px 20px 10px rgba(0,0,0,0.5);
	font-size: 10px;
	padding-top: 0px;
	font-weight: bold;
	bottom: 0px;
}

#logo{
	margin-left: 80px;
	height: 100px;
}



/*SIDEBAR */

.sidebar {
	padding-top: 0px;
	width: 240px;
	height: 50%;
	list-style: none;
	position: absolute;
	z-index: 1;
	left:0;
	overflow-x: hidden;
	background-color: rgba(0, 0, 0, 0.84);
	height: 521px;
	
}

.sidebar a {
	display: block;
	color: white;
	text-align: center;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	border-left: 5px solid transparent;
	font-family: 'Open Sans', sans-serif;
}

#elemento-sidebar {
	line-height: 32px;
	font-size: 15px;
	padding: 20px 5px;
}

#elemento-sidebar:hover, #elemento-sidebar.active {
	border-left: 5px solid #b93632;
	color: #b93632;
	cursor: pointer;
}

/*FRASES*/

.frase1 {
	text-shadow: 5px 5px 5px #FE0000;
	float: center;
	margin-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	color: white;
	font-size: 20px;
}

.frase2 {
	text-shadow: 5px 5px 5px #FFFB00;
	float: center;
	margin-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	color: white;
	font-size: 20px;
}

.frase3 {
	text-shadow: 5px 5px 5px #F9BCF9;
	text-align: center;
	margin-bottom: 10px;
	padding-top: 10px;
	color: white;
	font-size: 20px;
}

.conteiner {
	width: 500px;
	height: auto;
	margin-left: 650px;
}

embed {
	width: auto;
	height: 300px;
}

/*FOOTER */

footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.84);
    box-shadow: 0 10px 20px 10px rgba(0,0,0,0.5);
	color: #fff;
    line-height: 30px;
	text-align: right;
	padding-top: 40px;
	font-size: 20px;
	position: relative;
	bottom: 0px;
	margin-bottom: 0;
	clear:both;

}

.libros{
	display: flex;
	width: 600px;
	margin: auto;
	visibility: hidden;
	
}
.contenedorlibro{
	border:1px solid #333333;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.84);
	text-align: center;
	width: 300px;
	color: white;
}

.pokemon-list{
	display: grid;
	grid-template-columns: 1fr 100px 1fr;
	max-width: 800px;
	margin: auto;
	color: white;
	visibility: hidden;
	padding-top: 5px;
	margin-bottom: 50px;
}

.pokemon {
	border: 1px solid #333;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.84);
	text-align: center;
	margin-bottom: 50px;
}

.vs {
	text-align: center;
	margin: auto;
	font-size: 32px;
	color: white;
	visibility: hidden;
}

.imagen {
	width: 60%;
}