* {
	padding: 0px;
	margin: 0px;
	font-family: Segoe UI, Calibri, Verdana, Tahoma;
	text-decoration: none;
}

html {
    scroll-behavior: smooth;
   
}

body {
    background-color: #eee;
   
}

/*CABECERA*/

.cabecera {
	justify-content: center;
   	align-items: center;
   	line-height: 80px;
   	width: 100%;
	background-color: rgba(0, 0, 0, 0.84);	
	color: #fff;
	opacity: 1;
	font-size: 20px;
	font-weight: bold;
	box-shadow: 0 10px 20px 10px rgba(0,0,0,0.5);
}

nav {
	float: right;
}
nav a {
	color: #fff;
	padding: 10px 30px;
	display: inline-block;
	
}
nav a:hover{
	color: #b93632;
}

/*SIDEBAR */
.sidebar {
	
	width: 240px;
	height: 100%;
	background: #1e1e1e;
	top: 0px;
}

.sidebar a {
	display: block;
	color: white;
	height: 65px;
	width: 100%;
	padding-left: 30px;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	border-left: 5px solid transparent;
	font-family: 'Open Sans', sans-serif;
}

#elemento-sidebar {
	line-height: 32px;
	font-size: 15px;
}

#elemento-sidebar:hover, #elemento-sidebar.active {
	border-left: 5px solid #b93632;
	color: #b93632;
}

/*FOOTER */

footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.84);
    box-shadow: 0 10px 20px 10px rgba(0,0,0,0.5);
	color: #fff;
    line-height: 35px;
    opacity: 1;
    position: fixed;
    bottom: 0;
}
#elemento-footer {
	padding: 0px;
    min-width: 100px;
}

#fotito{
	height: 10%;
	width: 10%;
	max-width: 72px;
	max-height: 72px;
	min-width: 18px;
	min-height: 18px;
}