header{
	
	padding-top: 30px;
	min-height: 20px;
	background-color: blue;	
	
}
header h1{
	font: 35px Arial;
	text-align: center;
}

header h2 {
		font-size: 20px;
		text-align: center;
}

header img {
	margin: 10;
	height: 130px;
	width: 180px;
}

nav{
		background-color: gray;
}

footer{
		padding: 20px;
		background-color: red;
		text-align: right;
}