*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url('../styling/fondo.jpg');
    background-attachment: fixed;
}


#global{
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 25px;
    background: white;
    box-shadow: 0px 0px 2px gray;
}

header{
    text-align: center;
    font-family: 'Segoe UI', Arial;
    font-size: 20px;
    letter-spacing: 1px;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid gray;
}
header img{
    height: 70px;
    width: 70px;
    float: left;
    margin-bottom: 20px;
}

.clearfix{
    float: none;
    clear: both;
}

#principal{
    float: right;
}

footer{
    font-family: Helvetica, Arial;
    color: white;
    height: 47px;
    background: rgba(51, 51, 51, 0.70);
    margin: 0px auto;
    width: 65%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    text-align: center;
    line-height: 47px;
}

#fraseAleatoria{
    margin: auto;
    width: 450px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid gray;
    visibility: hidden;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    text-align: center;
}

#contenido{
    text-align: center;
}

#contenido #sidebar{
    font-family: Helvetica, Arial;
    width: 25%;
    float: left;
    background: #e3e3e3;
}

#contenido #sidebar h4{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
}

#contenido #sidebar p{
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}

#contenido #sidebar audio{
    margin-bottom: 10px;
}

.frase0{
    text-shadow: 5px 5px 10px blue;
}
.frase1{
    text-shadow: 5px 5px 10px green;
}
.frase2{
    text-shadow: 5px 5px 10px red;
}

.frase3{
    text-shadow: 5px 5px 10px orange;
}

.frase4{
    text-shadow: 5px 5px 10px purple;
}

#principal{
    float: right;
    text-align: center;
    padding-right: 30%;
}

#contenido #principal #titFrase{
    font-family: Arial, Helvetica, sans-serif;
}

#principal video{
    margin: auto;
    width: 300px;
    border-radius: 10px;
    border: 2px solid gray;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    text-align: center;
    background: #d3d3d3;
}